*.lock linguist-generated
*.tst linguist-vendored
*.cmp linguist-vendored
*.hack linguist-vendored
weeks/06/* linguist-vendored
weeks/07/* linguist-vendored
weeks/08/* linguist-vendored
weeks/09/* linguist-vendored
weeks/10/* linguist-vendored
weeks/11/* linguist-vendored
weeks/12/* linguist-vendored
weeks/13/* linguist-vendored